<div class="col-12" data-simplebar data-simplebar-lg data-simplebar-auto-hide="false">
    <table class="table table-centered ordinary-table table-hover animate-show-hide" style="table-layout: auto;">
        <thead>
        <tr>
            <th>{{'NAME' | translate}}</th>
            <th>{{'TOKEN_TYPE' | translate}}</th>
            <th>{{'TOTAL_SUPPLY' | translate}}</th>
            <th>{{'HOLDERS' | translate}}</th>
            <th>{{'TOKEN_ID' | translate}}</th>
        </tr>
        </thead>
        <tbody style="font-size: 12px;">
            <tr ng-repeat="token in account.tokenID">
                <td><a ng-href="#!/token/{{token.token_hash}}">{{networkData.tickers[token.token_hash].caption}} ({{networkData.tickers[token.token_hash].ticker}})</a></td>
                <td>{{token.type}}</td>                
                <td class="text-nowrap">{{token.total_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{networkData.tickers[token.token_hash].ticker}}</td>
                <td>{{token.holders_count | US_COMMAS_INT}}</td>
                <td><a class="d-block fit responsive-hash" ng-href="#!/tx/{{token.token_hash}}">{{token.token_hash}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
