<div class="col-12 mb-3" data-simplebar data-simplebar-lg data-simplebar-auto-hide="false">
    <table class="table table-centered ordinary-table table-hover animate-show-hide" style="table-layout: auto;">
        <thead>
            <tr>
                <th>i</th>
                <th>hash</th>
                <th>time</th>
                <th>rectype</th>
                <th>status</th>
                <th>token_hash</th>
                <th>fee_type</th>
                <th>fee_value</th>
                <th>fee_min</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            <tr ng-repeat="record in account_txs.records">
                <th>{{record.i}}</th>
                <th>{{record.hash}}</th>
                <th>{{record.time === null ? 'null' : record.time}}</th>
                <th>{{record.rectype}}</th>
                <th>{{record.status}}</th>
                <th>{{record.token_hash}}</th>
                <th>{{record.fee_type}}</th>
                <th>{{record.fee_value}}</th>
                <th>{{record.fee_min}}</th>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="account_txs.page_count > 1" class="col-12 col-lg text-right">
    <div class="btn-group" aria-label="Rewind records" ng-hide="account_txs.page_count == null || account_txs.page_count == undefined || account_txs.page_count <= 0">
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getAccTxs(0)" ng-class="acc_tx_page_num == 0 ? 'disabled' : ''" role="button">{{'FRST' | translate}}</a>
        <a class="btn-sm btn btn-secondary" ng-click="getAccTxs(acc_tx_page_num - 1)" ng-class="acc_tx_page_num == 0 ? 'disabled' : ''" role="button"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-sm btn btn-secondary disabled text-nowrap" role="button" style="opacity: 1;"><span class="text-blue">{{'PAGE' | translate : {current: acc_tx_page_num+1, total: account_txs.page_count} }}</span></a>
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getAccTxs(acc_tx_page_num + 1)" ng-class="acc_tx_page_num == account_txs.page_count-1 ? 'disabled' : ''" role="button"><i class="fas fa-chevron-right"></i></a>
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getAccTxs(account_txs.page_count-1)" ng-class="acc_tx_page_num == account_txs.page_count-1 ? 'disabled' : ''" role="button">{{'LAST' | translate}}</a>
    </div>
</div>