<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-2 p-sm-3">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 mb-3 mb-lg-0"  style="flex-grow: 3;">
                        <ul class="nav nav-tabs nav-bordered mb-3 nav-justified nav-filters">
                            <li class="nav-item">
                                <a ng-click="setFilter('')" href="javascript;" aria-expanded="true" data-target="#accountTransactionsTab" data-toggle="tab" class="nav-link h-100 d-flex align-items-center justify-content-center rounded-0 active px-1" ng-class="setActiveClass('')">
                                    <span>{{'TRANSACTIONS' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountRewardsTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center px-1">
                                    <span>{{'REWARDS' | translate}}</span>
                                </a>
                            </li>                            
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountTokenBalanceTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center px-1">
                                    <span>{{'TOKEN_BALANCE' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountTokenTransferTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center disabled text-muted px-1">
                                    <span>{{'TRANSFERS' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountStakingProvidersTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center px-1">
                                    <span>{{'STAKING_PROVIDERS' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountPOSIdTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center px-1">
                                    <span>{{'POS_ID' | translate}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript;" data-target="#accountTokensIdTab" data-toggle="tab" aria-expanded="false" class="nav-link h-100 d-flex align-items-center justify-content-center px-1">
                                    <span>{{'TOKENS_ID' | translate}}</span>
                                </a>
                            </li>                                                                                    
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active show" id="accountTransactionsTab">
                        <div ng-if="account.txs.records.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="account.txs.records.length > 0" class="row" ng-include="'views/partials/account-txs-tab.html'"></div>
                    </div>
                    <div class="tab-pane" id="accountRewardsTab">
                        <div ng-if="account.rewards.records.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="account.rewards.records.length > 0" class="row" ng-include="'views/partials/account-rewards-tab.html'"></div>
                    </div>                    
                    <div class="tab-pane" id="accountTokenBalanceTab">
                        <div ng-if="balanceAll.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="balanceAll.length > 0" class="row" ng-include="'views/partials/account-token-balance-tab.html'"></div>
                    </div>
                    <div class="tab-pane" id="accountStakingProvidersTab">
                        <div ng-if="account.pos.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="account.pos.length > 0" class="row" ng-include="'views/partials/account-staking-providers-tab.html'"></div>
                    </div>
                    <div class="tab-pane" id="accountPOSIdTab">
                        <div ng-if="account.posID.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="account.posID.length > 0" class="row" ng-include="'views/partials/account-pos-id-tab.html'"></div>
                    </div>
                    <div class="tab-pane" id="accountTokensIdTab">
                        <div ng-if="account.tokenID.length === 0" ng-include="'views/partials/common-no-records.html'"></div>
                        <div ng-if="account.tokenID.length > 0" class="row" ng-include="'views/partials/account-tokens-id-tab.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>