<div class="col-12" data-simplebar data-simplebar-lg data-simplebar-auto-hide="false">
    <table class="table table-centered ordinary-table table-hover animate-show-hide" style="table-layout: auto;">
        <thead>
            <tr>
                <th>{{'TOKEN' | translate}}</th>
                <th>{{'TOKEN_TYPE' | translate}}</th>
                <th>{{'TOKEN_ID' | translate}}</th>
                <th>{{'AMOUNT' | translate}}</th>
                <th>{{'PRICE' | translate}}</th>
                <th>{{'VALUE' | translate}}</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            <tr ng-repeat="token in account.balances.allTokensAsList">
                <td><a ng-href="#!/token/{{token.token}}">{{token.caption}} ({{networkData.tickers[token.token].ticker}})</a></td>
                <td>{{token.type}}</td>
                <td><a class="d-block fit" style="width: 100px;" ng-href="#!/tx/{{token.token}}">{{token.token}}</a></td>
                <td class="text-nowrap">{{token.amount | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{networkData.tickers[token.token].ticker}}</td>

                <td>
                    <span class="text-nowrap" ng-if="token.priceInfo.value !== undefined && token.priceInfo.value < 0.0001 && token.priceInfo.value > 0"> < $ 0.0001 </span>
                    <span class="text-nowrap" ng-if="token.priceInfo.value !== undefined && token.priceInfo.value > 0.0001"> $ {{token.priceInfo.value | US_COMMAS_4}} </span>
                    <span class="text-nowrap" ng-if="token.priceInfo.value == undefined || token.priceInfo.value == 0"> $ 0.0000 </span>
                </td>
                <td class="text-nowrap" ng-if="token.token === mainToken.hash">                    
                    $ {{account.balances.mainTokenDetails.total.toUSD !== undefined ? account.balances.mainTokenDetails.total.toUSD : '0.00'}}
                </td>
                <td class="text-nowrap" ng-if="token.token !== mainToken.hash">
                    $ {{token.usdValue  !== undefined ? token.usdValue : '0.00'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
