<div class="row">
	<div class="col-12">
		<div class="h4 mb-3 pl-2 pl-sm-0">{{'ACCOUNT_DETAILS' | translate}}</div>
	</div>	
</div>
<div class="row">
	<div class="col-xl-6 col-md-12">
		<div class="card">
		    <div class="card-body">
		    	<div class="d-flex mb-2 align-items-center justify-content-between">
		    		<div class="header-title mb-0 mr-2 text-uppercase">{{'ADDRESS' | translate}}</div>
		    		<div>
	    				<a href="" data-copy-from-id="pubkeyStorage" rel="btnTooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{'COPY' | translate}}" class="mr-3">
                            <i class="mdi mdi-content-copy text-blue"></i>
                        </a>
                        <a data-toggle="modal" data-target="#qrModal" href="">
                            <i class="mdi mdi-qrcode-scan text-blue"></i>
                        </a>
		    		</div>
		    	</div>
		    	<div class="text-muted fit" id="pubkeyStorage">{{account.id}}</div>
		    </div>
		</div>		
	</div>
	<div class="col-xl-6 col-md-12">
		<div class="card">
		    <div class="card-body" ng-if="!account.banned">
                <div class="header-title mr-2 text-uppercase">{{'TAG' | translate}}</div>
                <div class="text-muted">{{account.customerInfo.tag}}</div>
		    </div>
		    <div class="card-body d-flex align-items-center justify-content-between" ng-if="account.banned">
		    	<div>
	               	<div class="header-title mr-2 text-uppercase">{{'WARNING' | translate}}</div>
	                <div class="text-muted">{{'ACCOUNT_WAS_BANNED' | translate}}</div>		    		
		    	</div>
		    	<div class="text-uppercase"><i class="fas fa-skull-crossbones" style="font-size: 45px;"></i></div>
		    </div>
		</div>		
	</div>	
</div>

<div class="row">
	<div class="col-xl-6 col-md-12">
		<div class="card">
		    <div class="card-body" style="min-height: 266px;">
		    	<div class="row px-1">
					<div class="col-12 col-md-8">
						<div class="d-flex align-items-center justify-content-between">
				    		<div class="mb-2 d-flex align-items-center">
				    			<div class="header-title mr-2 text-uppercase mb-0">{{'TOTAL_BALANCE' | translate}}:</div>
				    			<div class="font-size-20 font-weight-bolder">$ {{account.balances.generalRepresentation.f_totalTokensUSDValueFormatted.value}}</div>	    			
				    		</div>		    			
				    	</div>
				    	<div class="pt-xl-3">
				    		<table id="totalBalanceTable" class="table no-border table-centered mb-0" style="table-layout: auto;">
								<tbody>
									<tr>
										<td class="font-size-15 text-muted">{{'TOTAL_MAIN_TOKEN' | translate: viewData.translationData}}:</td>
										<td colspan="2" class="font-weight-bolder">{{account.balances.mainTokenDetails.total.value | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals}}</td>
									</tr>
									<tr>
										<td class="font-size-15 text-muted">{{'MAIN_TOKEN_VALUE' | translate: viewData.translationData}}:</td>
										<td class="font-weight-bolder">$ {{account.balances.generalRepresentation.f_mainTokenUSDValueFormatted.value}} </td>
										<td>
											<div class="d-flex align-items-center">
												<div class="apex-chart-legend blue mr-1"></div>
												<span>{{account.balances.generalRepresentation.mainTokenPercentage}}%</span>												
											</div>
										</td>
									</tr>
									<tr>
										<td class="font-size-15 text-muted">{{'TOKEN_VALUE' | translate}}:</td>
										<td class="font-weight-bolder">$ {{account.balances.generalRepresentation.f_otherTokensUSDValueFormatted.value}}</td>
										<td>
											<div class="d-flex align-items-center">
												<div class="apex-chart-legend pink mr-1"></div>
												<span>{{account.balances.generalRepresentation.otherTokensPercentage}} %</span>												
											</div>
										</td>
									</tr>									
								</tbody>							
							</table>				    		
				    	</div>
					</div>
					<div class="col-12 col-md-4 d-flex align-items-center px-0">
						<div id="accountBalanceChart" class="mx-auto pt-lg-3"></div>
					</div>		    		
		    	</div>		    	
		    </div>
		</div>		
	</div>
	<div class="col-xl-6 col-md-12">
		
		<div class="card">
		    <div class="card-body" style="min-height: 266px;">
		    	<div class="d-flex align-items-center justify-content-between">
		    		<div class="mb-2 d-flex align-items-center">
		    			<div class="header-title mr-2 text-uppercase mb-0 text-nowrap">{{'MAIN_TOKEN_BALANCE' | translate: viewData.translationData}}:</div>
		    			<div class="font-size-20 font-weight-bolder">
		    				<span class="text-nowrap">{{account.balances.mainTokenDetails.total.value | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals}} </span>
		    				<span class="text-nowrap">($ {{account.balances.generalRepresentation.f_mainTokenUSDValueFormatted.value}})</span>
		    			</div>	    			
		    		</div>		    			
		    	</div>
		    	<div class="pt-2">
		    		<div ng-repeat="type in viewData.mainTokenBalancesTypesArr">		    			
                        <div class="progress-w-percent mb-1">
                        	<div class="d-flex justify-content-between align-items-center mr-2" style="width: calc(100% - 70px);">
                        		<h5 class="mb-0 mt-0 font-weight-normal">{{type === 'available'? 'AVAILABLE_BALANCE' : type.toUpperCase() | translate}}</h5>
                        		<span class=" font-weight-bold">
                        			{{type === 'available' || type === 'reward'? (account.balances.mainTokenDetails[type].value | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals) : (account.balances.mainTokenDetails[type].value | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : 2)}}
                        		</span>
                        	</div>
                        	<div class="d-flex align-items-center" style="margin-top: -10px;">
	                            <div class="progress progress-sm mt-0" style="width: calc(100% - 70px);">
	                                <div class="progress-bar" role="progressbar" style="width: {{account.balances.mainTokenDetails[type].percentage}}%;" ng-attr-aria-valuenow="{{account.balances.mainTokenDetails[type].percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
	                            </div>
	                            <div class="text-blue font-weight-bolder ml-2 font-size-13">
	                            	{{account.balances.mainTokenDetails[type].percentage}}%
	                            </div>                        		
                        	</div>
                        </div>
		    		</div>
		    	</div>
		    </div>
		</div>			
	</div>
</div>

<div class="row">
	<div class="col-xl-6 col-md-12">
		<div class="card">
		    <div class="card-body pr-1" style="min-height: 208px;">
				<div class="d-flex align-items-center justify-content-between">
		    		<div class="mb-2 d-flex align-items-center">
		    			<div class="header-title mr-2 text-uppercase mb-0">{{'TOKEN_BALANCE' | translate}}:</div>
		    			<div class="font-size-20 font-weight-bolder">$ {{account.balances.generalRepresentation.f_otherTokensUSDValueFormatted.value}}</div>	    			
		    		</div>		    			
		    	</div>
    			<div data-simplebar data-simplebar-lg data-simplebar-auto-hide="false" class="mt-2" style="max-height: 120px;">
    				<div class="mr-3">
	    				<table class="table table-centered table-sm" id="tokensListTable">
		    				<thead>
			    				<tr>
			    					<th>{{'TOKEN' | translate}}</th>
			    					<th class="fit">{{'AMOUNT' | translate}}</th>
			    					<th>{{'PRICE' | translate}}</th>
			    					<th class="fit">{{'VALUE' | translate}}</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr ng-if="token.token !== mainToken.hash" ng-repeat="token in account.balances.allTokensAsList">
			    					<td class="text-muted"><a ng-href="#!/token/{{token.token}}">{{token.caption}} ({{networkData.tickers[token.token].ticker}})</a></td>
			    					<td class="fit"><span class="font-weight-bolder text-nowrap">{{token.amount | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</span></td>
			    					<td>
			    						<span class="font-weight-bolder text-nowrap">			    							
				    						<span ng-if="token.priceInfo.value !== undefined && token.priceInfo.value < 0.0001 && token.priceInfo.value > 0"> < $ 0.0001 </span>
				    						<span ng-if="token.priceInfo.value !== undefined && token.priceInfo.value > 0.0001"> $ {{token.priceInfo.value | US_COMMAS_4}} </span>
				    						<span ng-if="token.priceInfo.value == undefined || token.priceInfo.value == 0"> $ 0.0000 </span>
				    					</span>
			    					</td>
			    					<td class="fit">
			    						<span class="font-weight-bolder">
			    							$ {{token.usdValue  !== undefined ? token.usdValue : 0}}
			    						</span>
			    					</td>
			    				</tr>
			    			</tbody>		    			
			    		</table>		    					
    				</div>
    			</div> 
		    </div>
		</div>		
	</div>

    <div class="col-xl-6 col-md-12">
        <div class="card">
            <div class="card-body" style="min-height: 208px;">
                <div>
                    <div class="header-title mr-2 text-uppercase mb-2">{{'REFERRAL_STAT_LAST_24' | translate}}</div>
					<div class="mb-3">						
						<div class="d-flex justify-content-between align-items-center mb-1">
							<div>
								<span class="text-wrap font-size-15">{{'REFERRAL_CODE' | translate}}</span>
								<a ng-href="https://guides.enecuum.com/{{curLang.id === 'ru' ? 'ru/' : ''}}enq/referral.html" target="_blank" class="line-height-normal">
						        	<i class="mdi mdi-information-outline ml-1"></i>
						        </a>
							</div>
	                        <div ng-show="account.isAgent" class="d-flex flex-nowrap">
	                            <a href="" class="text-muted ml-1 line-height-normal" data-copy-from-id="refcodeStorage" rel="btnTooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{'COPY' | translate}}">
	                                <i class="mdi mdi-content-copy text-blue"></i>
	                            </a>
	                            <a data-toggle="modal" data-target="#refqrModal" href="" class="text-muted ml-2 line-height-normal">
	                                <i class=" mdi mdi-qrcode-scan text-blue"></i>
	                            </a>
	                        </div>															
						</div>
	                    <div class=" d-flex align-items-center justify-content-between">
	                        <div class="fit" id="refcodeStorage">{{account.refcode}}</div>
						</div>    			
					</div>
                    <table class="table table-centered ordinary-table animate-show-hide table-sm mb-0" style="table-layout: auto;" id="referralStatsTable">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-nowrap font-weight-normal text-muted">Referrals:</th>
                                <th scope="row" class="text-nowrap font-weight-normal text-muted">Agents reward:</th>
                                <th scope="row" class="text-nowrap font-weight-normal text-muted">Updated:</th>
                            </tr>
                            <tr>
                                <td class="font-weight-bolder">{{account.referralsInfo.ref_count}}</td>
                                <td class="font-weight-bolder">{{account.referralsInfo.ref_reward | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals}} {{mainToken.ticker}}</td>
                                <td class="font-weight-bolder">{{account.referralsInfo.lastcalc}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>