<div id="customTokenROICalc">
	<div class="row">
		<div class="col">
			<div class="h4 mb-3 pl-2 pl-sm-0">{{'CUSTOM_TOKEN_ROI_CALC' | translate}}</div>
		</div>
		<div class="col text-right">
			<button id="printBtn" class="btn btn-info" ng-click="printTokenROICalc()">Save as PDF</button>
		</div>	
	</div>
	<div class="row">

		<div class="col-12">

			<div class="card">
				<div class="card-body">
					<div ng-include="'views/partials/custom-token-roi-calc-market-cap-section.html'"></div>
				</div>	    				    	
			</div>

			<div class="card">
				<div class="card-body">
					<div ng-include="'views/partials/custom-token-roi-calc-emission-section.html'"></div>
				</div>	    				    	
			</div>

			<div class="card">
				<div class="card-body">
					<div ng-include="'views/partials/custom-token-roi-calc-roi-section.html'"></div>
				</div>	    				    	
			</div>

		</div>	    		
	</div>
</div>