<div class="row">
    <div class="col-12">
        <div class="form-row align-items-md-start">
            <div class="col-12 col-md-6 col-lg-3 form-group mb-3" style="padding-top: 1px;">
                <label for="roi_stake">{{'ROI_STAKE' | translate: translationData}}</label>
                <input type="text" id="roi_pos_stake" class="form-control" ng-model="clientPOSData.validatorInput.stake">
                <small ng-if="!posStakeIsValid" class="errMsg">{{'POS_STAKE_ERR_MSG' | translate : posStakeParams}}</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 form-group mb-3" style="padding-top: 1px;">
                <label for="roi_stake">{{'FEE' | translate: translationData}},%</label>
								<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
									<span class="input-group-btn input-group-prepend">
										<button class="btn btn-primary bootstrap-touchspin-down" type="button" ng-click="$parent.downStake()" ng-class="roiCalcState" ng-disabled="roiCalcState == 'disabled'">-</button>
									</span>
									<input class="form-control" ng-model="clientPOSData.validatorInput.posFee">
									<span class="input-group-btn input-group-append">
										<button class="btn btn-primary bootstrap-touchspin-up" type="button" ng-click="$parent.upStake()" ng-class="roiCalcState" ng-disabled="roiCalcState == 'disabled'">+</button>
									</span>
								</div>
                <small ng-if="!posStakeIsValid" class="errMsg">{{'POS_STAKE_ERR_MSG' | translate : posStakeParams}}</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 form-group mb-3" style="padding-top: 1px;">
                <label for="roi_stake">{{'PERFORMANCE' | translate: translationData}},%</label>
                								<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
									<span class="input-group-btn input-group-prepend">
										<button class="btn btn-primary bootstrap-touchspin-down" type="button" ng-click="$parent.downStake()" ng-class="roiCalcState" ng-disabled="roiCalcState == 'disabled'">-</button>
									</span>
									<input class="form-control" ng-model="clientPOSData.validatorInput.uptime">
									<span class="input-group-btn input-group-append">
										<button class="btn btn-primary bootstrap-touchspin-up" type="button" ng-click="$parent.upStake()" ng-class="roiCalcState" ng-disabled="roiCalcState == 'disabled'">+</button>
									</span>
								</div>
                <small ng-if="!posStakeIsValid" class="errMsg">{{'POS_STAKE_ERR_MSG' | translate : posStakeParams}}</small>
            </div>            
            <div class="col-12 col-md-6 col-lg-3 mt-md-3 mb-2 mb-md-0 text-center mx-auto">
                <button type="button" class="btn btn-primary w-100 px-1 mt-1" ng-click="processPOSData('validator')">{{'CALCULATE' | translate}}</button>
            </div>
        </div>
    </div>
</div>