<div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row" id="stakingMetrics">
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card widget-flat">
                <div class="card-body" ng-if="currentPreset.tokenName !== 'ENQ'">
                    <h5 class="text-muted font-weight-normal mt-0" title="Revenue">{{'CIRC_SUPPLY_SHORT' | translate}}</h5>
                    <h3 class="mt-3 fit">{{stats.csup !== undefined ? stats.csup : "N/A" | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : 0}} {{mainToken.ticker}}</h3>
                </div>
                <div class="card-body" ng-if="currentPreset.tokenName === 'ENQ'">
                    <h5 class="text-muted font-weight-normal mt-0" title="Revenue">{{'TOKEN_PRICE' | translate}}</h5>
                    <h3 class="mt-3" ng-class="(currentPreset.tokenName === 'ENQ') ? 'mb-3' : 'mb-2'">{{stats.cg_usd | USD}}</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card widget-flat">
                <div class="card-body">
                    <h5 class="text-muted font-weight-normal mt-0" title="Revenue">{{'ACTIVE_POS_NUM' | translate}}</h5>
                    <h3 class="mt-3" ng-class="(currentPreset.tokenName === 'ENQ') ? 'mb-3' : 'mb-2'">{{activePOSCount !== undefined ? activePOSCount : '---'}}</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card widget-flat">
                <div class="card-body">
                    <h5 class="text-muted font-weight-normal mt-0" title="Revenue">{{'POS_STAKE_TOTAL' | translate}}</h5>
                    <h3 class="mt-3" ng-class="(currentPreset.tokenName === 'ENQ') ? 'mb-2' : 'mb-2'">{{allPOSTotalStake !== undefined ? allPOSTotalStake : '---'  | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : 0}} {{mainToken.ticker}}</h3>
                    <h6 class="mb-0" ng-if="currentPreset.tokenName === 'ENQ'">{{convertValueToUSD(allPOSTotalStake) | US_COMMAS_BIGINT_DECIMALS : mainTokenToUSDDecimals : 5}} USD</h6>                    
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card widget-flat">
                <div class="card-body">
                    <h5 class="text-muted font-weight-normal mt-0 fit" title="Revenue">{{'AVG_NETWORK_PERFORMANCE' | translate}}</h5>
                    <h3 class="mt-3" ng-class="(currentPreset.tokenName === 'ENQ') ? 'mb-3' : 'mb-2'">{{avgUptime !== undefined ? avgUptime * 100 : '---' | US_COMMAS_2}}%</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="calculator">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{{'POS_CALC' | translate}}</h4>
                    <div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <ul class="nav nav-pills bg-nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a href="javascript;" data-target="#posCalcForDelegatorTab" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 collapsed active" ng-click="setPOSCalcType('delegator')">
                                            <span class="d-block">Delegator</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript;" data-target="#posCalcForValidatorTab" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0" ng-click="setPOSCalcType('validator')">
                                            <span class="d-block">Validator</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content justify-content-center mt-3">
                            <div class="tab-pane show active justify-content-center" id="posCalcForDelegatorTab" ng-include="'views/partials/pos-calculator-delegator-tab.html'"></div>  
                            <div class="tab-pane fade" id="posCalcForValidatorTab" ng-include="'views/partials/pos-calculator-validator-tab.html'"></div>                                                      
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <hr>
                            <h4 class="mt-3">
                                <div>{{'POS_ROI_DESCR_P1' | translate}}</div>
                                <div>{{'POS_ROI_DESCR_P2' | translate}}</div>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-6 col-lg-6 col-xl-3" ng-class="showPOSCalcResult[posCalcType] ? 'd-block' : 'd-none'" ng-repeat="rec in posROIData[posCalcType]">
            <div class="card">
                <div class="card-body text-center">
                    <div class="roi-cards-period-label-wrapper">
                        <div class="text-title text-nowrap">{{rec.period | translate}}</div>
                    </div>
                    <div class="pt-2 pb-2" ng-init="roiVal=rec.value.split('.')">
                        <span class="h3">+ </span><span class="h3">{{roiVal[0]}}.</span><span class="h4">{{roiVal[1]}}</span>
                    </div>
                    <div class="pb-2" ng-if="mainToken.ticker === ENQ" ng-init="roiUSD=rec.usd.split('.')">
                        <span class="h3">+ </span><span class="h3">{{roiUSD[0]}}.</span><span class="h4">{{roiUSD[1]}}</span>
                    </div>                    
                    <hr>
                    <div class="table-responsive-sm">
                        <h4 class="pt-2">ROI</h4>
                        <h3 class="text-blue mb-2">{{rec.roi}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 align-items-center justify-content-center" ng-if="currentPreset.tokenName !== 'ENQ'">
        <h3 class="text-center mb-3">{{'TOKEN_NOT_TRADING' | translate: translationData}}</h3>
    </div>
</div>