<div class="row">
    <div class="col-12">
        <div class="form-row align-items-md-start">
            <div class="col-md-5 form-group mb-3" style="padding-top: 1px;" id="delegatorStakeInputWrapper">
                <label for="roiDelegatorStakeInput">{{'ROI_STAKE' | translate: translationData}}</label>
                <input type="text" id="roiDelegatorStakeInput" class="form-control" ng-model="clientPOSData.delegatorInput.stake">
                <small ng-show="!showPOSCalcResult.delegator" class="errMsg"></small>
            </div>
            <div class="col-md-5 form-group mb-3" style="padding-top: 1px;">
                <label for="roiDelegatorPOSInput">{{'CHOOSE_POS' | translate}}</label>
                <ui-select ng-model="clientPOSData.delegatorInput.posContract" id="roiDelegatorPOSInput">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices group-by="'activeAlias'" repeat="pos in (posList | filter: $select.search) track by pos.pos_id" class="border-bottom" data-simplebar data-simplebar-auto-hide="false">
                        <span ng-bind="pos.name" class="font-weight-bolder"></span>
                        <div  class="mt-1">
                            <small>{{(pos.active === 1 ? 'STAKE_POWER' : 'ACTIVE_STAKE_SHARE') | translate}}</small>
                            <span class="mr-1 font-weight-bolder">{{(pos.active === 1 ? pos.active_stake_power*100 : pos.active_stake_share*100) | US_COMMAS_2}}%</span>
                            <small>{{'FEE_VALUE' | translate}}</small>
                            <span class="font-weight-bolder">{{pos.fee/10000*100}}%</span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-6 col-md-2 mt-md-3 mb-2 mb-md-0 text-center mx-auto">
                <button type="button" class="btn btn-primary w-100 px-1 mt-1" ng-click="processPOSData('delegator')">{{'CALCULATE' | translate}}</button>
            </div>
        </div>
    </div>
</div>