<div class="row">

    <div class="col-12">
        <div class="form-row align-items-md-start">
            <div id="validatorDelegatedByOwnerInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorDelegatedByOwnerInput" class="text-nowrap">{{'DELEGATED_BY_OWNER' | translate: translationData}}</label>
                <input type="text" id="roiValidatorDelegatedByOwnerInput" class="form-control" ng-model="clientPOSData.validatorInput.delegatedByOwner">
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>
            <div id="validatorFeeInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorFeeInput">{{'FEE' | translate: translationData}},%</label>
                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                    <span class="input-group-btn input-group-prepend mx-0">
                        <button class="btn btn-primary bootstrap-touchspin-down mx-0" type="button" ng-click="modifyByStep('posFee', 'decrease')" style="left: 1px;">-</button>
                    </span>
                    <input class="form-control" ng-model="clientPOSData.validatorInput.posFee" id="roiValidatorFeeInput">
                    <span class="input-group-btn input-group-append mx-0">
                        <button class="btn btn-primary bootstrap-touchspin-up mx-0" type="button" ng-click="modifyByStep('posFee', 'increase')" style="right: 1px;">+</button>
                    </span>
                </div>
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>
            <div id="validatorPriceUSDInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorPriceUSDInput" class="text-nowrap">{{'PRICE' | translate: translationData}}</label>
                <div class="input-group">
                    <input type="text" id="roiValidatorPriceUSDInput" class="form-control" ng-model="clientPOSData.validatorInput.priceUSD" ng-disabled="(mainToken.ticker !== 'ENQ')">
                    <div class="input-group-append">
                        <span class="input-group-text text-center d-inline-block" >USD</span>
                    </div>                    
                </div>
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>    
            <div id="validatorDelegatedByOthersInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorDelegatedByOthersInput" class="text-nowrap">{{'DELEGATED_BY_OTHERS' | translate: translationData}}</label>
                <input type="text" id="roiValidatorDelegatedByOthersInput" class="form-control" ng-model="clientPOSData.validatorInput.delegatedByOthers">
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>
            <div id="validatorUptimeInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorUptimeInput">{{'PERFORMANCE' | translate: translationData}},%</label>
				<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
					<span class="input-group-btn input-group-prepend mx-0">
						<button class="btn btn-primary bootstrap-touchspin-down mx-0" type="button" ng-click="modifyByStep('uptime', 'decrease')" style="left: 1px;">-</button>
					</span>
					<input class="form-control" ng-model="clientPOSData.validatorInput.uptime" id="roiValidatorUptimeInput">
					<span class="input-group-btn input-group-append mx-0">
						<button class="btn btn-primary bootstrap-touchspin-up mx-0" type="button" ng-click="modifyByStep('uptime', 'increase')" style="right: 1px;">+</button>
					</span>
				</div>
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>
            <div id="validatorTXsPerDayInputWrapper" class="col-12 col-md-6 col-xl-4 form-group mb-3" style="padding-top: 1px;">
                <label for="roiValidatorTXsPerDayInput" class="text-nowrap">{{'TRX_PER_DAY' | translate: translationData}}</label>
                <input type="text" id="roiValidatorTXsPerDayInput" class="form-control" ng-model="clientPOSData.validatorInput.txsPerDay">
                <small ng-show="!showPOSCalcResult.validator" class="errMsg"></small>
            </div>                                                              
            <div class="col-6 offset-3 col-md-6 col-xl-4 mb-3 text-center mx-auto px-1">
                <button type="button" class="btn btn-primary w-100 mt-1" ng-click="processPOSData('validator')">{{'CALCULATE' | translate}}</button>
            </div>
        </div>
    </div>
</div>