<div class="col-12 mb-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <table class="table table-centered ordinary-table table-hover animate-show-hide" style="table-layout: auto;">
                <tbody style="font-size: 12px;">
                    <tr>
                        <td class="border-top-0">{{'MAX_SUPPLY' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder border-top-0">{{token.max_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
                    </tr>
                    <tr>
                        <td>{{'BLOCKS_TO_BE_MINED' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder">{{blocksToBeMined}}</td>
                    </tr>                    
                    <tr>
                        <td>{{'BLOCK_REWARD' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder">{{token.block_reward | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
                    </tr>                       
                    <tr>
                        <td>{{'MIN_STAKE' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder">{{token.min_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
                    </tr>
                    <tr>
                        <td>{{'REFERRER_STAKE' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder">{{token.referrer_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
                    </tr>
                    <tr>
                        <td>{{'REF_SHARE' | translate}}</td>
                        <td class="text-nowrap text-right font-weight-bolder">{{token.ref_share | US_COMMAS_BIGINT_DECIMALS : 2 : 2}} %</td>
                    </tr>            
                </tbody>
            </table>            
        </div>
    </div>
</div>