<div class="col-12 mb-3" data-simplebar data-simplebar-lg data-simplebar-auto-hide="false">
    <table class="table table-centered ordinary-table table-hover animate-show-hide" style="table-layout: auto;">
        <thead>
            <tr>
                <th>{{'TIME' | translate}}</th>
                <th>{{'TYPE' | translate}}</th>
                <th>{{'AMOUNT' | translate}}</th>
                <th>{{'TRX_FEE' | translate}}</th>
                <th>{{'HASH_TRX' | translate}}</th>
                <th>{{'STATUS' | translate}}</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px;">
            <tr ng-repeat="record in account.records | orderBy: 'time' : true">
                <td class="text-nowrap">{{get_time(record.time)}}</td>
                <td>{{get_type(record)}}</td>
                <td class="text-nowrap">{{get_amount(record) | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals}} {{tickers[record.token_hash]}}</td>
                <td class="text-nowrap">{{record.fee | US_COMMAS_BIGINT_DECIMALS : mainToken.decimals : mainToken.decimals}} {{tickers[record.token_hash]}}</td>
                <td><a class="d-block fit" style="width: 100px;" ng-href="{{get_type(record) == 'mblock' || get_type(record) == 'refreward' ? '#!/mblock/' : get_type(record) == 'kblock' ? '#!/macroblock/' : get_type(record) == 'sblock' ? '#!/sblock/' : '#!/tx/'}}{{record.hash}}">{{record.hash}}</a></td>
                <td>{{record.status | TX_STATUS | translate}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="account.page_count > 1" class="col-12 col-lg text-right">
    <div class="btn-group" aria-label="Rewind records" ng-hide="account.page_count == null || account.page_count == undefined || account.page_count <= 0">
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getHistory(0)" ng-class="page_num == 0 ? 'disabled' : ''" role="button">{{'FRST' | translate}}</a>
        <a class="btn-sm btn btn-secondary" ng-click="getHistory(page_num - 1)" ng-class="page_num == 0 ? 'disabled' : ''" role="button"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-sm btn btn-secondary disabled text-nowrap" role="button" style="opacity: 1;"><span class="text-blue">{{'PAGE' | translate : {current: page_num+1, total: account.page_count} }}</span></a>
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getHistory(page_num + 1)" ng-class="page_num == account.page_count-1 ? 'disabled' : ''" role="button"><i class="fas fa-chevron-right"></i></a>
        <a class="btn-sm btn btn-secondary text-nowrap" ng-click="getHistory(account.page_count-1)" ng-class="page_num == account.page_count-1 ? 'disabled' : ''" role="button">{{'LAST' | translate}}</a>
    </div>
</div>