<table ng-init="token=txData.parameters" class="table table-sm tx-data-table no-border">
    <tbody>
        <tr>
            <th class="pr-md-3">{{'TICKER' | translate}}</th>
            <td class="fit">{{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'NAME' | translate}}</th>
            <td class="fit">{{token.name}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'TOKEN_TYPE' | translate}}</th>
            <td class="fit">{{token.token_type}}</td>
        </tr>    
        <tr>
            <th class="pr-md-3">{{token.token_type === 'Mineable'? 'PREMINE' : 'TOKEN_EMISSION' | translate }}</th>
            <td class="fit">{{token.total_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'MAX_SUPPLY' | translate}}</th>
            <td class="fit">{{token.max_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'BLOCK_REWARD' | translate}}</th>
            <td class="fit">{{token.block_reward | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'MIN_STAKE' | translate}}</th>
            <td class="fit">{{token.min_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'REFERRER_STAKE' | translate}}</th>
            <td class="fit">{{token.referrer_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}} {{token.ticker}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'REF_SHARE' | translate}}</th>
            <td class="fit">{{token.ref_share | US_COMMAS_BIGINT_DECIMALS : 2 :2}}%</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'DECIMALS' | translate}}</th>
            <td class="fit">{{token.decimals}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'FEE_TYPE' | translate}}</th>
            <td class="fit">{{token.fee_type | translate}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'FEE_VALUE' | translate}}</th>
            <td class="fit">{{token.fee_value}}</td>
        </tr>
        <tr>
            <th class="pr-md-3">{{'FEE_MIN' | translate}}</th>
            <td class="fit">{{token.fee_min}}</td>
        </tr>
    </tbody>    
</table>