<div ng-init="token=txData.parameters">
    <div class="d-block d-md-flex align-items-start">
        <div>{{'TICKER' | translate}}</div>
        <div>{{token.ticker}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'NAME' | translate}}</div>
        <div>{{token.name}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'TOKEN_TYPE' | translate}}</div>
        <div>{{token.token_type}}</div>
    </div>    
    <div class="d-block d-md-flex align-items-start">
        <div>{{token.token_type === 'Mineable'? 'PREMINE' : 'TOKEN_EMISSION' | translate }}</div>
        <div>{{token.total_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'MAX_SUPPLY' | translate}}</div>
        <div>{{token.max_supply | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'BLOCK_REWARD' | translate}}</div>
        <div>{{token.block_reward | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'MIN_STAKE' | translate}}</div>
        <div>{{token.min_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'REFERRER_STAKE' | translate}}</div>
        <div>{{token.referrer_stake | US_COMMAS_BIGINT_DECIMALS : token.decimals : token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'REF_SHARE' | translate}}</div>
        <div>{{token.ref_share | US_COMMAS_BIGINT_DECIMALS : 2 :2}}%</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'DECIMALS' | translate}}</div>
        <div>{{token.decimals}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'FEE_TYPE' | translate}}</div>
        <div>{{token.fee_type | translate}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'FEE_VALUE' | translate}}</div>
        <div>{{token.fee_value}}</div>
    </div>
    <div class="d-block d-md-flex align-items-start">
        <div>{{'FEE_MIN' | translate}}</div>
        <div>{{token.fee_min}}</div>
    </div>
</div>