<table class="table table-sm tx-data-table no-border" ng-init="data=txData.parameters">
    <tbody ng-if="txData.type === 'pool_buy_exact_routed'">
        <tr ng-repeat="param in contractScheme.paramsOrder track by $index" ng-if="param !== 'skip'">
            <th class="pr-md-3">{{param.toUpperCase() | translate}}</th>                                                 
            <td class="fit" ng-if="param.indexOf('asset') === -1">
                {{data[param]}}
                <span ng-if="data.hasOwnProperty(param+'_token_ticker')">
                    ({{data[param+'_token_ticker']}})
                </span>    
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] === data.amount_in_max_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data.amount_in_max_token_ticker}})</span>   
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] === data.amount_out_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data.amount_out_token_ticker}})</span>   
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] !== data.amount_in_max_token_hash && data[param] !== data.amount_out_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data[param + '_token_ticker']}})</span>   
            </td>            
        </tr>
    </tbody>
    <tbody ng-if="txData.type === 'pool_sell_exact_routed'">
        <tr ng-repeat="param in contractScheme.paramsOrder track by $index" ng-if="param !== 'skip'">
            <th class="pr-md-3">{{param.toUpperCase() | translate}}</th>                                   
            <td class="fit" ng-if="param.indexOf('asset') === -1">
                {{data[param]}}
                <span ng-if="data.hasOwnProperty(param+'_token_ticker')">
                    ({{data[param+'_token_ticker']}})
                </span>    
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] === data.amount_in_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data.amount_in_token_ticker}})</span>   
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] === data.amount_out_min_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data.amount_out_min_token_ticker}})</span>   
            </td>
            <td class="fit" ng-if="param.indexOf('asset') !== -1 && data[param] !== data.amount_in_token_hash && data[param] !== data.amount_out_min_token_hash">
                <a ng-href="#!/token/{{data[param]}}" target="_blank">{{data[param]}}</a>
                <span classs="mr-2">({{data[param + '_token_ticker']}})</span>   
            </td>            
        </tr>
    </tbody>    
</table>