.topnav {
    background: white;
}

.topnav-navbar .navbar-toggle span {
    background-color: white;
}

.navbar-custom {
    background: #2496ed;
}

.btn-primary {
    background-color: #007bff!important;
}

.btn-primary:hover {
    border-color: #0069d9!important;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-filters a.nav-link:hover {
    background: rgb(200, 214, 220);
}

[aria-label="Rewind kblocks"] a.btn-secondary:hover,
[aria-label="Rewind records"] a.btn-secondary:hover {
    background: rgb(200, 214, 220)!important;
}

.nav-filters a.nav-link.active:hover {
    color: white;
}

[aria-label="Rewind kblocks"] .btn-secondary,
[aria-label="Rewind records"] .btn-secondary {
    background: #e3eaef;
    color: rgb(108, 117, 125);
    box-shadow: none;
    border: 1px solid rgba(200, 214, 220,0.8);
}

[aria-label="Rewind kblocks"] .btn-group>.btn:hover,
[aria-label="Rewind records"] .btn-group>.btn:hover {
    box-shadow: none;
}

.btn-group-vertical>.btn:hover, .btn-group>.btn:hover {
    z-index: 0;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
    border: 1px solid rgba(200, 214, 220,0.8)!important;
}

@media (max-width: 991.98px) {
    table.table-to-cards tr:nth-child(odd) {
        background-color: #e3eaef!important;
    }

    table.table-to-cards tr:hover {
        background-color: rgb(200, 214, 220)!important;
    }

    .topnav .dropdown .dropdown-menu {
        border: none!important;
    }

    .topnav .nav-item .nav-link {
        padding: .75rem 1.3rem!important;
    }

    .topnav .dropdown .dropdown-item {
        color: rgba(255,255,255,.8);
    }

    table.table-to-cards tr:nth-child(odd) {
        background-color: #e0eef9!important;
    }
}

.topnav .nav-item .nav-link {
    padding: 24px 1.3rem;
}

.nav-item.dropdown {
    position: relative;
}

#topbar-languagedrop + .dropdown-menu,
.nav-item.dropdown .dropdown-menu {
    top: calc(100% + 0.5px);
    border-top: 3px solid #33adf5;
}

.roi-cards-period-label-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
}

.roi-cards-period-label-wrapper .text-title {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 700;
}

.text-blue {
    color: #0072FF;
}